@model PblUi.Models.LightVM;
<div class="text-center">
    <h1 class="display-6">Не получилось создать или отредактировать лампу(ы). <br>На один адрес нельзя назначить лампы с одинаковым номером</h1>
    <a class="back" href="../Light/Index">Назад</a>
</div>

<style>
    .back {
        font-size: 24px;
    }
</style>